pre.prettyprint:first-child {
    margin-top: 0;
}

pre.prettyprint:last-child {
    margin-bottom: 0;
}

pre.prettyprint {
    font-size: 0.83em;
    padding: 5px 10px !important;
}

main section section:last-child {
    margin-bottom: 0;
}