/**************************************************************************** Branding Colors */
/****************************************************************************  Breakpoints  */
/* 360px is iPhone vertical */
/* 480px is iPhone horizontal */
/* 768px is iPad horizontal */
/* 1024px is iPad vertical */
/** Helper functions for color variables */
/** Basic color contrast and shading variables */
/** Body color variable definitions. */
/** Specialized tweaks for particular brandings and moods, using a hack to only set these values if they have not explicitly been set by the user. */
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   Base Values  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   Carried Values  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   Computed Intermediate Values  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   Final Colors  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
/** Foreground colors */
/** Primary background colors  */
/**  Light background colors  */
/**  Dark background colors  */
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   Base Values  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   Carried Values  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   Computed Intermediate Values  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   Final Colors  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */
/** Foreground colors */
/** Primary background colors  */
/**  Light background colors  */
/**  Dark background colors  */
/**************************************************************************** Structure */
/* minimum spacing (*percantage*) on either side of container */
/* pixel-based to limit max size (or false) */
/**************************************************************************** Font Settings */
/* line 1, ../../../src/core/adapter/base/color/_body.scss */
body { background-color: white; color: #323232; }

/* line 6, ../../../src/core/adapter/base/color/_body.scss */
a { color: #073198; }

/* line 10, ../../../src/core/adapter/base/color/_body.scss */
a:hover { color: #44557d; }

/* line 1, ../../../../extension/blocks/_message-ie.scss */
body .message header { background: transparent; /* commented out hack for IE7 and below - because we can't do borders the same way - better to show without background if we can't do a border to the same extent
// use filter for IE7 and below
// http://robertnyman.com/2010/01/11/css-background-transparency-without-affecting-child-elements-through-rgba-and-filters
*zoom: 1;
@if $color-body-light { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#25000000, endColorstr=#25000000);
} @else { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#25FFFFFF, endColorstr=#25FFFFFF);
}
*/ }

/* line 5, ../../../src/core/definitions/base/color/branding/_background_light_gradient-ie.scss */
.gradient.light.default, .gradient.fade.default { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCFCFC', endColorstr='#FFF5F5F5', GradientType=0); }
/* line 9, ../../../src/core/definitions/base/color/branding/_background_light_gradient-ie.scss */
.gradient.light.primary, .gradient.fade.primary { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD6EBFF', endColorstr='#FFB3D9FF', GradientType=0); }
/* line 13, ../../../src/core/definitions/base/color/branding/_background_light_gradient-ie.scss */
.gradient.light.secondary, .gradient.fade.secondary { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD6F4FF', endColorstr='#FFB3EAFF', GradientType=0); }
/* line 17, ../../../src/core/definitions/base/color/branding/_background_light_gradient-ie.scss */
.gradient.light.tertiary, .gradient.fade.tertiary { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFF3D6', endColorstr='#FFFFE8B3', GradientType=0); }
/* line 21, ../../../src/core/definitions/base/color/branding/_background_light_gradient-ie.scss */
.gradient.light.neutral, .gradient.fade.neutral { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFD9D9D9', GradientType=0); }

/* line 5, ../../../src/core/definitions/base/color/branding/_background_dark_gradient-ie.scss */
.gradient.dark.default, .gradient.emphasize.default { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF262626', endColorstr='#FF1F1F1F', GradientType=0); }
/* line 9, ../../../src/core/definitions/base/color/branding/_background_dark_gradient-ie.scss */
.gradient.dark.primary, .gradient.emphasize.primary { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00274D', endColorstr='#FF001F3D', GradientType=0); }
/* line 13, ../../../src/core/definitions/base/color/branding/_background_dark_gradient-ie.scss */
.gradient.dark.secondary, .gradient.emphasize.secondary { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00374D', endColorstr='#FF002C3D', GradientType=0); }
/* line 17, ../../../src/core/definitions/base/color/branding/_background_dark_gradient-ie.scss */
.gradient.dark.tertiary, .gradient.emphasize.tertiary { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4D3600', endColorstr='#FF3D2B00', GradientType=0); }
/* line 21, ../../../src/core/definitions/base/color/branding/_background_dark_gradient-ie.scss */
.gradient.dark.neutral, .gradient.emphasize.neutral { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF262626', endColorstr='#FF1F1F1F', GradientType=0); }

/* line 5, ../../../src/core/definitions/base/color/mood/_background_light_gradient-ie.scss */
.gradient.light.info, .gradient.fade.info { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD6F4FF', endColorstr='#FFB3EAFF', GradientType=0); }
/* line 9, ../../../src/core/definitions/base/color/mood/_background_light_gradient-ie.scss */
.gradient.light.important, .gradient.fade.important { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFD6F1', endColorstr='#FFFFB3E4', GradientType=0); }
/* line 13, ../../../src/core/definitions/base/color/mood/_background_light_gradient-ie.scss */
.gradient.light.success, .gradient.fade.success { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD6FFEC', endColorstr='#FFB3FFDB', GradientType=0); }
/* line 17, ../../../src/core/definitions/base/color/mood/_background_light_gradient-ie.scss */
.gradient.light.warning, .gradient.fade.warning { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFBD6', endColorstr='#FFFFF8B3', GradientType=0); }
/* line 21, ../../../src/core/definitions/base/color/mood/_background_light_gradient-ie.scss */
.gradient.light.error, .gradient.fade.error { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6DFDF', endColorstr='#FFEEC3C3', GradientType=0); }
/* line 25, ../../../src/core/definitions/base/color/mood/_background_light_gradient-ie.scss */
.gradient.light.danger, .gradient.fade.danger { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6DFDF', endColorstr='#FFEEC3C3', GradientType=0); }
/* line 29, ../../../src/core/definitions/base/color/mood/_background_light_gradient-ie.scss */
.gradient.light.inverse, .gradient.fade.inverse { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF666666', endColorstr='#FF4D4D4D', GradientType=0); }
/* line 33, ../../../src/core/definitions/base/color/mood/_background_light_gradient-ie.scss */
.gradient.light.highlight, .gradient.fade.highlight { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFD6F1', endColorstr='#FFFFB3E4', GradientType=0); }
/* line 37, ../../../src/core/definitions/base/color/mood/_background_light_gradient-ie.scss */
.gradient.light.required, .gradient.fade.required { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6DFDF', endColorstr='#FFF9EBEB', GradientType=0); }

/* line 5, ../../../src/core/definitions/base/color/mood/_background_dark_gradient-ie.scss */
.gradient.dark.info, .gradient.emphasize.info { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF002C3D', endColorstr='#FF00374D', GradientType=0); }
/* line 9, ../../../src/core/definitions/base/color/mood/_background_dark_gradient-ie.scss */
.gradient.dark.important, .gradient.emphasize.important { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3D0028', endColorstr='#FF4D0031', GradientType=0); }
/* line 13, ../../../src/core/definitions/base/color/mood/_background_dark_gradient-ie.scss */
.gradient.dark.success, .gradient.emphasize.success { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF003D20', endColorstr='#FF004D28', GradientType=0); }
/* line 17, ../../../src/core/definitions/base/color/mood/_background_dark_gradient-ie.scss */
.gradient.dark.warning, .gradient.emphasize.warning { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3D3800', endColorstr='#FF4D4600', GradientType=0); }
/* line 21, ../../../src/core/definitions/base/color/mood/_background_dark_gradient-ie.scss */
.gradient.dark.error, .gradient.emphasize.error { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF300E0E', endColorstr='#FF3C1111', GradientType=0); }
/* line 25, ../../../src/core/definitions/base/color/mood/_background_dark_gradient-ie.scss */
.gradient.dark.danger, .gradient.emphasize.danger { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF300E0E', endColorstr='#FF3C1111', GradientType=0); }
/* line 29, ../../../src/core/definitions/base/color/mood/_background_dark_gradient-ie.scss */
.gradient.dark.inverse, .gradient.emphasize.inverse { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1F1F1F', endColorstr='#FF262626', GradientType=0); }
/* line 33, ../../../src/core/definitions/base/color/mood/_background_dark_gradient-ie.scss */
.gradient.dark.highlight, .gradient.emphasize.highlight { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3D0028', endColorstr='#FF4D0031', GradientType=0); }
/* line 37, ../../../src/core/definitions/base/color/mood/_background_dark_gradient-ie.scss */
.gradient.dark.required, .gradient.emphasize.required { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF300E0E', endColorstr='#FF3C1111', GradientType=0); }

/* line 5, ../../../src/core/definitions/base/color/branding/_background_gradient-ie.scss */
.gradient.default { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }
/* line 9, ../../../src/core/definitions/base/color/branding/_background_gradient-ie.scss */
.gradient.primary { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF245B94', endColorstr='#FF003971', GradientType=0); }
/* line 13, ../../../src/core/definitions/base/color/branding/_background_gradient-ie.scss */
.gradient.secondary { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF19BFFF', endColorstr='#FF00A5E5', GradientType=0); }
/* line 17, ../../../src/core/definitions/base/color/branding/_background_gradient-ie.scss */
.gradient.tertiary { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFC233', endColorstr='#FFFFB300', GradientType=0); }
/* line 21, ../../../src/core/definitions/base/color/branding/_background_gradient-ie.scss */
.gradient.neutral { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE6E6E6', endColorstr='#FFCCCCCC', GradientType=0); }

/* line 5, ../../../src/core/definitions/base/color/mood/_background_gradient-ie.scss */
.gradient.info { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF19BFFF', endColorstr='#FF00A5E5', GradientType=0); }
/* line 9, ../../../src/core/definitions/base/color/mood/_background_gradient-ie.scss */
.gradient.important { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33B7', endColorstr='#FFFF00A5', GradientType=0); }
/* line 13, ../../../src/core/definitions/base/color/mood/_background_gradient-ie.scss */
.gradient.success { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF33FF9F', endColorstr='#FF00FF87', GradientType=0); }
/* line 17, ../../../src/core/definitions/base/color/mood/_background_gradient-ie.scss */
.gradient.warning { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFED33', endColorstr='#FFFFE800', GradientType=0); }
/* line 21, ../../../src/core/definitions/base/color/mood/_background_gradient-ie.scss */
.gradient.error { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCD5151', endColorstr='#FFB73434', GradientType=0); }
/* line 25, ../../../src/core/definitions/base/color/mood/_background_gradient-ie.scss */
.gradient.danger { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCD5151', endColorstr='#FFB73434', GradientType=0); }
/* line 29, ../../../src/core/definitions/base/color/mood/_background_gradient-ie.scss */
.gradient.inverse { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3C3C3C', endColorstr='#FF222222', GradientType=0); }
/* line 33, ../../../src/core/definitions/base/color/mood/_background_gradient-ie.scss */
.gradient.highlight { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF33B7', endColorstr='#FFFF00A5', GradientType=0); }
/* line 37, ../../../src/core/definitions/base/color/mood/_background_gradient-ie.scss */
.gradient.required { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCD5151', endColorstr='#FFB73434', GradientType=0); }

/* line 1, ../../../src/core/definitions/compatibility/ie/image/scaling-ie.scss */
img { *-ms-interpolation-mode: bicubic; }

/* line 3, ../../../src/core/adapter/entity/form/_control-ie.scss */
form.form div.control > input, form.form div.control > select, form.form div.control > textarea { *max-width: 95%; /* hack because no border-box support */ }
/* line 7, ../../../src/core/adapter/entity/form/_control-ie.scss */
form.form div.control > input.full, form.form div.control > select.full, form.form div.control > textarea.full { *width: 95%; /* hack because no border-box support */ }
